h2{
  text-align: center;
}
.card{
  background-color: whitesmoke;
  margin-top: 20px;
}

button {
  margin: 10px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

a {
  cursor: pointer;
}
